@model EmailOTP.Models.OTPViewModel

@{
    ViewData["Title"] = "verifyOTP";

    string otpmessage = @ViewContext.HttpContext.Session.GetString("OtpMessage");
}

<h2>OTP Verification</h2>

<p>A verification code has been sent to your email address:</p>
<h4>Welcome, @ViewContext.HttpContext.Session.GetString("username")!</h4>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

@if (otpmessage != null)
{
    <div class="alert alert-success" role="alert">@ViewContext.HttpContext.Session.GetString("OtpMessage")</div>
}

<p>Please enter the code below:</p>

<form asp-action="VerifyOTP" method="post">
    <div class="form-group">
        <label for="otp">OTP code:</label>
        <input type="text" class="form-control" id="otp" name="otp" required>
    </div>
    <input type="hidden" name="username" value="@ViewContext.HttpContext.Session.GetString("username")">
    <br></br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div>
    <a asp-action="Index">Back to Generate OTP</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
